* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Open sans';
  font-size: 15px;
}

.l-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/***NAVIGATION***/
.nav {
  max-width: 230px;
  padding: 25px 0;
  background: #03a9f4;
  background: -webkit-gradient(linear, left bottom, left top, from(#03a9f4), to(#039be5));
  background: linear-gradient(0deg, #03a9f4 0%, #039be5 100%);
}

.nav__list {
  list-style-type: none;
}

.nav__list--bottom {
  margin-top: 60px;
}

.nav__list--bottom .nav__item:hover {
  background-color: white;
}

.nav__list--bottom .nav__item:hover .nav__link {
  color: #03a9f4;
}

.nav__list .nav__item {
  padding: 15px 25px;
}

.nav__list .nav__item .nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__list .nav__item .nav__link .nav__img {
  width: 80px;
  margin: 0 auto;
  display: block;
}

.nav__list .nav__item .nav__link .nav__logo {
  width: 40px;
}

.nav__list .nav__item .nav__link .nav__icon {
  width: 25px;
  margin-right: 10px;
}

.nav__list .nav__item--active {
  background-color: #fff;
}

.nav__list .nav__item--active .nav__link {
  text-decoration: none;
  color: #03a9f4;
}

.nav .nav__rights {
  margin-top: 15px;
  padding-left: 25px;
  font-size: 10px;
}

/***DASHBOARD***/
.c-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
}

.c-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-content__item .c-content__map {
  width: 65%;
  height: 200px;
  background-color: #5453b8;
}

.c-content__item .c-content__upcoming-trips {
  width: 35%;
  margin-left: 10px;
  padding: 20px;
  background-color: #EEEEEE;
}

.c-content__item .c-content__upcoming-trips .c-content__upcoming-trips__heading {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.c-content__item .c-content__upcoming-trips__places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 15px;
}

.c-content__item .c-content__upcoming-trips__places .c-content__upcoming-trips__img {
  width: 75px;
  height: auto;
}

.c-content__item .c-content__upcoming-trips__places .c-content__upcoming-trips__info {
  margin-left: 20px;
}

.c-content__item .c-content__upcoming-trips__places .c-content__upcoming-trips__info .c-content__upcoming-trips__place {
  font-size: 20px;
}

.c-content__item .c-content__upcoming-trips__places .c-content__upcoming-trips__info .c-content__upcoming-trips__date {
  font-size: 17px;
}

.c-content__item .c-content__destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.c-content__item .c-content__destination .c-content__img {
  display: block;
  width: 80px;
  height: auto;
  float: left;
}

.c-content__item .c-content__destination__info {
  margin-left: 10px;
}

.c-content__item .c-content__destination__info .c-content__destination-country {
  font-size: 15px;
}

.c-content__item .c-content__destination__info .c-content__destination-city {
  font-size: 18px;
}

.c-content__item--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-content__item--vertical .c-content__score {
  font-size: 16px;
  margin: 10px 0 0 0;
  color: #A8A8A8;
}

.c-content__item--vertical .c-content__bar {
  width: 100%;
  height: 15px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  clear: both;
}

.c-content__item--vertical .c-content__bar .c-content__progress {
  width: 0%;
  height: 15px;
  border-radius: 20px;
  float: left;
  background-color: #0998E6;
  -webkit-animation: progress 2s;
          animation: progress 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.heading {
  font-family: 'Roboto';
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  color: #333;
}

.heading--main {
  font-size: 24px;
}

.heading--sub {
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */