/***MY BOOKING***/

.g-content {
    flex: 1;
    padding: 25px;

    .heading_booking {
        display: flex;
        align-items: center;

        &__paragraph{
            font-size: 14px;
            text-transform: initial;
            color: #cccccc;
            margin-left: 25px;
        }
    }

    .heading__icon {
        color: grey;
        font-size: 22px;
        cursor: pointer;
        margin-left: 20px;
    }

    &__statistics {
        width: 20%;
        padding: 20px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 20px;
        font-size: 20px;
        color: white;

        &__flights {
            background-image: url(../img/stat1.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }

        &__kilometers {
            background-image: url(../img/stat2.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }

        &__countries {
            background-image: url(../img/stat3.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }
    }

    &__item{
        display: flex;
        flex-wrap: wrap;

        .g-content__map{
            width: 100%;
            height: 350px;
            background-color: rgb(84, 83, 184);
            border-radius: 20px;
            margin-bottom: 20px;
        }

        @mixin pseudo-ready($position: absolute){
            position: relative;
            &::before, &::after{
              content: '';
              position: $position;
            }
        }

        //TICKETS
        .g-content__tickets {
            width: 90%;
            margin: auto;

            .g-content__post__tickets__button {
                background-color: #0998E6;
                color: white;
                width: 205px;
                height: 45px;
                font-size: 15px;
                font-weight: 800;
                border: none;
                float: right;
                right: 150px;
                top: 150px;
            }

            .g-content__post__tickets__button span{
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            .g-content__post__tickets__button span:after{
                content: '+';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .g-content__post__tickets__button:hover span{
                padding-right: 25px;
            }

            .g-content__post__tickets__button:hover span:after{
                opacity: 1;
                right: 0;

            }
  
            .g-content__ticket{
                width: 100%;
                position: relative;
                height: 100%;
                background-color: rgb(211, 211, 211);
                display: flex;
                align-items: center;
                margin-bottom: 2px;

                &:before{
                    content: '';
                    box-sizing: border-box;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: white;
                    border-radius: 50%;
                    top: -13px;
                    left: -15px;
                    box-shadow: 0px 47px 0 0 white,
                    0px 130px 0 0 white;
                }

                &__pen {
                    color: grey;
                    margin: auto;
                    font-size: 20px;
                }

                &__info {
                    color: #0998E6;
                    margin: 40px;
                    font-size: 20px;
                }

                &__icon {
                    font-size: 30px;
                    color: #0998E6;
                    margin-left: 50px;
                    padding: 30px;

                    &--grey {
                        font-size: 30px;
                        color: grey;
                        margin-left: 50px;
                        padding: 30px;
                    }
                }

                &__location {
                    font-size: 25px;
                    color: grey;
                    padding: 10px;;
                }

                &__location--grey {
                    font-size: 30px;
                    color: grey;
                    padding: 10px;;
                }

                &__btn {
                    width: 100px;
                    margin-left: auto;
                    padding: 20px;
                }

                &__places {
                    display: flex;
                   text-align: center;

                    .g-content__ticket__from {
                        font-size: 13px;
                        padding-bottom: 5px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        margin: 0 80px 0 80px;
                    }

                    .g-content__ticket__to {
                        font-size: 13px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        margin: 0 0 0 150px;
                    }

                    .g-content__ticket__to--grey {
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        margin: 0 0 0 200px;
                    }

                    .g-content__ticket__from--grey {
                        font-size: 15px;
                        padding-bottom: 5px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        margin: 0 80px 0 80px;
                    }
                }

                &__link {
                    font-size: 10px;
                }
            }
        }
    }
}