*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Open sans';
    font-size: 15px;
}

.l-grid{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/***NAVIGATION***/
.nav{
    max-width: 180px;
    padding: 25px;
    background: rgb(3,169,244);
    background: linear-gradient(0deg, rgba(3,169,244,1) 0%, rgba(3,155,229,1) 100%);
    
    &__list {
        list-style-type: none;

        &--bottom {
            margin-top: 80px;
        }

        .nav__item {
            padding: 15px 10px;
            

            .nav__link {
                text-decoration: none;
                color: #fff;

                &--active {
                    color: rgb(3,169,244);
                    background-color: #fff;
                }

                .nav__img {
                    width: 80px;
                    margin: 0 auto;
                    display: block;
                }

                .nav__logo {
                    width: 40px;

                }
            }
        }


    }

    .nav__rights {
        margin-top: 40px;
    }

    .back__website {
        
    }
    

    
}