*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Open sans';
    font-size: 15px;
}

.l-grid{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/***NAVIGATION***/
.nav{
    max-width: 230px;
    padding: 25px 0;
    background: rgb(3,169,244);
    background: linear-gradient(0deg, rgba(3,169,244,1) 0%, rgba(3,155,229,1) 100%);
    
    &__list {
        list-style-type: none;

        &--bottom {
            margin-top: 60px;

            .nav__item:hover{
                background-color: rgb(255, 255, 255);
    
                .nav__link{
                    color:rgb(3,169,244);
                }
            }
        }
       
        .nav__item {
            padding: 15px 25px;
            
            .nav__link {
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;

                .nav__img {
                    width: 80px;
                    margin: 0 auto;
                    display: block;
                }

                .nav__logo {
                    width: 40px;
                    margin-right: 7px;
                }

                .nav__icon {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }

        .nav__item--active {
            background-color: #fff;

            .nav__link {
                text-decoration: none;
                color: rgb(3,169,244);
            }
        }
    }

    .nav__rights {
        margin-top: 25px;
        font-size: 10px;
        color: #fff;
        font-family: "Roboto";
        text-align: center;
    }
}

/***DASHBOARD***/
.c-content {
    flex: 1;
    padding: 25px;

    &__item{
        display: flex;
        

        //MAP
        .c-content__map{
            width: 65%;
            height: 350px;
            background-color: rgb(84, 83, 184);
            border-radius: 20px;
        }

        //UPCOMING TRIPS
        .c-content__upcoming-trips{
            width: 35%;
            margin-left: 10px;
            padding: 20px;
            background-color: #EEEEEE;
            border-radius: 20px;

            .c-content__upcoming-trips__heading{
                margin-left: 20px;
                font-size: 20px;
                font-weight: 700;
            }

            &__places{
                display: flex;
                align-items: center;
                margin: 10px 15px;

                .c-content__upcoming-trips__img{
                    width: 75px;
                    height: auto;
                } 
                
                .c-content__upcoming-trips__info{
                    margin-left: 20px;

                    .c-content__upcoming-trips__place{
                        font-size: 20px;
                    }
    
                    .c-content__upcoming-trips__date{
                        font-size: 17px;
                    }
                }
            }
        }

        //TOP DESTINATIONS
        .c-content__destination{
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-right: 30px;
            .c-content__img{
                display: block;
                width: 80px;
                height: auto;
                float: left;
            }

            &__info{
                margin-left: 10px;

                .c-content__destination-country{
                    font-size: 15px;
                }

                .c-content__destination-city{
                    font-size: 18px;
                }
            }
        }

        .c-content__days-left{
            display: flex;
            align-items: center;
            flex-grow: 1;

            .c-content__days-left__num{
                font-size: 42px;
                font-weight: 800;
                padding: 10px 20px;
                border: 5px solid #333;
                border-radius: 10px;
            }

            .c-content__days-left__info{
                font-size: 18px;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }
    }

    &__item--vertical{
        flex-direction: column;
        
        .c-content__score{
            font-size: 16px;
            margin: 10px 0 0 0;
            color: #A8A8A8;
        }

        .c-content__bar{
            width: 100%;
            height: 15px;
            background-color: rgb(211, 211, 211);
            border-radius: 20px;
            overflow: hidden;
            clear: both;

            .c-content__progress{
                width: 0%;
                height: 15px;
                border-radius: 20px;
                float: left;
                background-color: #0998E6;
                animation: progress 2s;
                animation-fill-mode: forwards;
            }

            @keyframes progress{
                from{
                    width: 0%;
                }

                to{
                    width: 50%;
                }
            }
        }
    }
}

.heading{
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    color: #333;

    &--main{
        font-size: 24px;
    }

    &--sub{
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-top: 10px;

        .fa-info-circle{
            margin-left: 10px;
            color: gray;
        }
    }
}

/***FEED***/
.f-content {
    flex: 1;
    padding: 25px;

    &__item{
        display: flex;
        flex-wrap: wrap;

        //POSTS
        .f-content__posts {
            width: 85%;

            .f-content__post{
                width: 100%;
                height: 120px;
                background-color: #F7F7F7;
                border-radius: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                &__img {
                    width: 80px;
                    height: 80px;
                    padding: 20px;
                }

                &__journal {
                    width: 100px;
                    margin-left: auto;
                    padding: 20px;
                }

                &__user {
                    font-size: 15px;
                    color: #707070;
                    padding-bottom: 5px;
                }

                &__title {
                    font-size: 15px;
                }

                &__link {
                    font-size: 10px;
                }
            }
            
        }

        //ACCOUNTS YOU MAY LIKE
        .f-content__also-like{
            width: 12%;
            margin-left: 25px;
            padding: 0 20 0 20px;
            border-radius: 20px;
            text-align: center;
            
            .f-content__also-like__heading{
                font-size: 15px;
                font-weight: 700;
            }

            &__users{
                display: flex;
                align-items: center;
                margin: 20px 15px;
                flex-direction: column;
                text-align: center;

                .f-content__also-like__img{
                    width: 40px;
                    height: auto;
                } 
                
                .f-content__also-like__info{

                    .f-content__also-like__name{
                        font-size: 13px
                    }
    
                    .f-content__also-like__follow{
                        font-size: 10px;
                        background-color: #0998E6;
                        color: white;
                        padding: 3px;
                        margin-top: 5px;
                        width: 60px;
                        margin: 5px auto;
                    }
                }
            }
        }
    }
}



/***MY BOOKING***/
.g-content {
    flex: 1;
    padding: 25px;

    &__statistics {
        width: 20%;
        padding: 20px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 20px;
        font-size: 20px;
        color: white;

        &__flights {
            background-image: url(../img/stat1.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }

        &__kilometers {
            background-image: url(../img/stat2.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }

        &__countries {
            background-image: url(../img/stat3.png);
            background-color: #cccccc;
            background-position: center; /* Center the image */
            background-size: cover;
        }
    }

    &__item{
        display: flex;
        flex-wrap: wrap;

        .g-content__map{
            width: 100%;
            height: 350px;
            background-color: rgb(84, 83, 184);
            border-radius: 20px;
            margin-bottom: 20px;
        }

        //TICKETS
        .g-content__tickets {
            width: 85%;
            margin: auto;

            .g-content__ticket{
                width: 100%;
                height: 100%;
                background-image: url(../img/ticket.png);
                background-position: center; /* Center the image */
                background-size: cover;
                border-radius: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 2px;

                &__icon {
                    font-size: 30px;
                    color: #0998E6;
                    margin-left: 50px;
                    padding: 30px;
                }

                &__btn {
                    width: 100px;
                    margin-left: auto;
                    padding: 20px;
                }

                &__places {
                    display: flex;

                    .g-content__ticket__from {
                        font-size: 15px;
                        color: #707070;
                        padding-bottom: 5px;
                    }

                    .g-content__ticket__to {
                        font-size: 15px;
                    }
                }

                &__link {
                    font-size: 10px;
                }
            }
            
        }
    }
}

/***CONTACT and SUPPORT***/
.s-content{
    flex: 1;
    padding: 25px;

    &__item{
        display: flex;
        flex-wrap: wrap;
            .s_subheading_text{
                font-size: 20px;
                color: #333;
                font-family: Roboto;
            }
        
    
        .s-content__box{
            display: flex;
            width: 480px;
            height: 80px;
            background-color: #EEEEEE;
            border-radius: 20px;
            margin-top: 20px;
            color: #333;
            margin: 10px;
            margin-left: 0;
            
            &__question{
                margin-left: 30px;
                margin-top: 25px;
            }
                &__btn{
                    border: none;
                    color: #0998E6;
                    font-size: 20px;
                    margin-top: 14%;
                }
                
        }
        .s-content__container{
            display: flex;
        }
    }
    
} 
.dropup {
    display: flex;
    flex-direction: column;

     &__btn0{
         margin-left: 170px;
     }
     &__btn1{
        margin-left: 190px;
     }
     &__btn2{
        margin-left: 145px;
     }
     &__btn3{
        margin-left: 232px;
     }
     &__btn4{
        margin-left: 216px;
     }
     &__btn5{
        margin-left: 145px;
     }
     &__btn6{
        margin-left: 166px;
     }
     &__btn7{
        margin-left: 209px;
     }
  }
.dropup__btn__content {
display: none;
width: 480px;
bottom: 50px;
z-index: 1;
margin-left: -248px;
margin-top: -10px;
    &__answer1{
        margin-left: -224px;
    }
    &__answer2{
        margin-left: -273px;
    }
    &__answer3{
        margin-left: -180.5px;
    }
    &__answer4{
        margin-left: -201px;
    }
    &__answer5{
        margin-left: -268px;
    }
    &__answer6{
        margin-left: -250px;
    }
    &__answer7{
        margin-left: -203.5px;
    }
    &__paragraph{
        font-size: 13px;
        display: block;
        width: 430px;
        margin-top: 20px;
        background-color: #EEEEEE;
        height: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 25px;
    }
  }
.dropup:hover .dropup__btn__content {
display: block;
width: 30px;
}

.dropup:hover .dropup__btn {
    color: #333;
}
.s-contact{
    display: flex;
    margin-top: 2%;
    padding: 25px;
    flex-wrap: nowrap;
    color: #333;
    font-family: Roboto;

    &__e-mail{
        margin-left:14px;
       
        &__text{
            font-family: Roboto;
            font-size: 18px;
            color: #333;
        }
        &__icon{
            list-style-type: none;
            
        }
        &__us{
            font-size: 16px;
            font-family: Roboto;
            padding-left: 10px;
            margin-top: 3em;
        }
    }
.fas{
    color: #0998E6;
    font-size: 40px;
}
.fab{
    color: #0998E6;
    font-size: 40px;
}
.s-contact__social-media__icon{
 margin-top: 23px;
 margin-left: 600px;
}
.s-contact__social-media__icons{
    display: inline-flex;
    padding-left: 15px;
}

}
.s-subheading_text_container{
    margin-top: 50px;
 }
.heading{
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    color: #333;

    &--main{
        font-size: 24px;
    }

    &--sub{
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-top: 10px;

        .fa-info-circle{
            margin-left: 10px;
            color: gray;
        }
    }
}

/***SETTINGS***/
.a-content {
    flex: 1;
    padding: 25px;
    

    &__item{
        display: flex;
        flex-direction: row;
        

        .a-content__settings {
            width: 20%;
            
                .a-content__setting {
                    width: 100%;
                    height: 90px;
                    background-color: #F7F7F7;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;

                    &__container {
                        font-size: 20px;
                        color: #707070;
                        padding: 10px;
                    }
    
                }
                
            }
     
    }
    .a-content__settings-main{
        width: 65%;
        margin-left: 20px;
        padding: 20px;
        background-color: #EEEEEE;
        
        &__img{
            width: 75px;
            height: auto;
            border-radius: 50%;
        } 

        &__heading{
            margin-left: 200px;
            font-size: 28px;
        }

        &__date{
            font-size:13px;
        }

        &__places{
            display: flex;
            align-items: center;
            margin: 10px 15px;

            

            
            
            .a-content__settings-main__info{
                margin-left: 20px;

                .a-content__settings-main__place{
                    font-size: 12px;
                    color: #707070;
                }

                
            }
        }
    }
}
@media (max-width: 800px){
    .c-content__item{
        flex-direction: column;
    }
}

