*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Open sans';
    font-size: 15px;
}

.l-grid{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/***NAVIGATION***/
.nav{
    max-width: 230px;
    padding: 25px 0;
    background: rgb(3,169,244);
    background: linear-gradient(0deg, rgba(3,169,244,1) 0%, rgba(3,155,229,1) 100%);
    
    &__list {
        list-style-type: none;

        &--bottom {
            margin-top: 60px;

            .nav__item:hover{
                background-color: rgb(255, 255, 255);
    
                .nav__link{
                    color:rgb(3,169,244);
                }
    
            }
        }

        .nav__item {
            padding: 15px 25px;
            
            .nav__link {
                text-decoration: none;
                color: #fff;

                .nav__img {
                    width: 80px;
                    margin: 0 auto;
                    display: block;
                }

                .nav__logo {
                    width: 40px;
                }

                .nav__icon {
                    width: 25px;
                    margin-right: 10px;
                }
            }
        }

        .nav__item--active {
            background-color: #fff;

            .nav__link {
                text-decoration: none;
                color: rgb(3,169,244);
            }
            
        }
    }

    .nav__rights {
        margin-top: 15px;
        padding-left: 25px;
        font-size: 10px;
    }
    
}

/***DASHBOARD***/
.c-content {
    flex: 1;
    padding: 25px;

    &__item{
        display: flex;

        .c-content__map{
            width: 65%;
            height: 200px;
            background-color: rgb(84, 83, 184);
        }

        .c-content__upcoming-trips{
            width: 35%;
            margin-left: 10px;
            padding: 20px;
            background-color: #EEEEEE;

            .c-content__upcoming-trips__heading{
                margin-left: 20px;
                font-size: 20px;
                font-weight: 700;
            }

            &__places{
                display: flex;
                align-items: center;
                margin: 10px 15px;

                .c-content__upcoming-trips__img{
                    width: 75px;
                    height: auto;
                } 
                
                .c-content__upcoming-trips__info{
                    margin-left: 20px;

                    .c-content__upcoming-trips__place{
                        font-size: 20px;
                    }
    
                    .c-content__upcoming-trips__date{
                        font-size: 17px;
                    }
                }
            }
        }

        .c-content__destination{
            display: flex;
            align-items: center;
            margin-right: 30px;
            .c-content__img{
                display: block;
                width: 80px;
                height: auto;
                float: left;
            }

            &__info{
                margin-left: 10px;

                .c-content__destination-country{
                    font-size: 15px;
                }

                .c-content__destination-city{
                    font-size: 18px;
                }
            }
        }
    }

    &__item--vertical{
        flex-direction: column;
        
        .c-content__score{
            font-size: 16px;
            margin: 10px 0 0 0;
            color: #A8A8A8;
        }

        .c-content__bar{
            width: 100%;
            height: 15px;
            background-color: rgb(211, 211, 211);
            border-radius: 20px;
            overflow: hidden;
            clear: both;

            .c-content__progress{
                width: 0%;
                height: 15px;
                border-radius: 20px;
                float: left;
                background-color: #0998E6;
                animation: progress 2s;
                animation-fill-mode: forwards;
            }

            @keyframes progress{
                from{
                    width: 0%;
                }

                to{
                    width: 50%;
                }
            }
        }
    }
}

.heading{
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    color: #333;

    &--main{
        font-size: 24px;
    }

    &--sub{
        font-size: 15px;
    }
}

